/* You can add global styles to this file, and also import other style files */

:root {
    --bg: #09111f;
    --nav: #00001B;
    --footer: #000018;
    --card: #1b2438;
    --gold: #d4af37;
    --white: #f5f5f5;
    --gray: #cfd3da;
    --purple: #8b5cf6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg);
    color: var(--white);
    font-family: "Poppins", sans-serif;
}